.form{
    background-image: url('../img/bg-form.png');
    background-repeat: no-repeat;
max-width: 100%;

}
.input-f{
    input{
width: 340px;
    height: 46px;
    padding:13px 24px;
    }
padding-bottom: 220px;
padding-left: 587px;
}
.button__form{
    width: 66px;
    height: 46px;
    margin: 0;

}
.form__title{
   padding-top: 258px;
    color: $color-light;
    text-align: center;
}