.implement__wrapper{
    display: flex;
  //  justify-content: space-between;
}
.implement__content{
    max-width: 471px;

    margin-top:295px ;


}
.implement__img{
  //  display: block;
   width: 407px;
     height: 582px;
    margin-right: 269px;
    margin-left: 139px;
    margin-top: 120px;
    margin-bottom: 140px;

}
// .implement__text{
//     max-width: 407px;
// }