
.represent_wrapper{
    display: flex;
    justify-content: space-evenly;
    //align-items: center;
}
.represent__content{
    max-width: 719px;
    padding-left: 269px;
    margin-top:295px ;
    padding-bottom: 314px

}
.represent_img{
  //  display: block;
   width: 407px;
     height: 582px;
    padding-right: 98px;
    padding-top: 120px;

}
